@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

.container {
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
}

.side_bar {
  min-height: 100vh;
  color: black;
  background: #f87575;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.logo_mine {
  position: absolute;
  top: 2em;
  text-transform: uppercase;
  letter-spacing: .5em;

}

.link {
  letter-spacing: .2em;
  text-transform: uppercase;
}

.main_content {
  display: flex;
  width: 100%;
}

/* image grid */
.image_grid {
  padding-top: 1em;
  padding-bottom: 2em;
  max-height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid_four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


.main_image {
  border-bottom: 4px solid red;
}

.img_1 {
  height: 150px;
  width: 150px;
  background-image: url('../public/food_1.jpg');
  background-position: center center;
  background-size: cover;
  border-bottom: 2px solid #f87575;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.img_2 {
  height: 200px;
  width: 300px;
  background-image: url('../public/food_2.jpg');
  background-position: center center;
  background-size: cover;
  border-bottom: 2px solid #f87575;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* second main column with menu */

.main_second {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 80%;
  background-color: #f87575;
  width: 80%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 999;
}

.menu_heading {
  color: white;
  text-align: center;
  font-size: 4.5em;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin-bottom: 0;
}

.event {
  height: 60%;
  width: 80%;
  background: rgba(0, 0, 0, 0.885);
  margin-left: auto;
  margin-right: -2em;
  z-index: -999;
  margin-top: -4em;
  padding-top: 4em;
  padding-left: 2em;
  color: white;
}

.inner_event {
  margin-left: 3em;
}

.date {
  letter-spacing: .5em;
}

.border_date {
  width: 200px;
  height: 2px;
  background: white;
  margin-top: 1em;
}


.menu_items_container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* price items_col  */

.item_col {
  margin-top: 1em;
}

.price {
  margin-top: 1em;
}